body{
    background-color: #F5F5DD;
    margin: 0px;
    padding: 50px;
    padding-left: 405px;
    background: url("/images/beige.jpg");
    background-repeat: repeat;
}
.skills{
    height: 700px;
    width: 700px;
    justify-content: center;
}
.project-text{
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.project-text p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: brown;
    font-size: 40px;
    line-height: 0px;
    margin-left: 30px;
    text-align: center;
}
.project-text p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: gray;
    font-size: 25px;
    line-height: 25px;
    margin-left: 25px;
    text-align: center
}
.box1,
.box2{
    width: 500px;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px black;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.box-container{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.box1{
    background-image: url(/images/beige.jpg);
}
.box2{
    background-image: url(/images/beige.jpg);
}
.box1 span,
.box2 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    flex-direction: row;
    align-content: center;
    font-size: 15px;
}
.box1 p,
.box2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
